In [1]:
import numpy as np 
import pandas as pd

In [2]:
import os 
os.chdir('/Users/kimmh/Desktop/서데캠/')
os.getcwd()

'/Users/kimmh/Desktop/서데캠'

## 상권 점포 수

In [3]:
'''
dt = pd.read_csv('./data/서울시 우리마을가게 상권분석서비스(상권배후지-점포).csv')
dt.head()
'''

"\ndt = pd.read_csv('./data/서울시 우리마을가게 상권분석서비스(상권배후지-점포).csv')\ndt.head()\n"

In [4]:
'''
dt = dt[dt['기준_년_코드']==2021]
dt = dt[dt['기준_분기_코드']==2]
dt.tail()
'''

"\ndt = dt[dt['기준_년_코드']==2021]\ndt = dt[dt['기준_분기_코드']==2]\ndt.tail()\n"

In [5]:
# dt.to_csv('seoul_market.csv', index=False)

## 2020년 4분기가 가장 깔끔

In [6]:
market = pd.read_csv('./data/서울시_우리마을가게_상권분석서비스(상권-점포)_2020년.csv')

market = market[(market['기준_년_코드']==2020) & (market['기준_분기_코드']==4)]
market = market.reset_index(drop=True)

print(market.shape)
market.head(n=10)

(96518, 15)

/Users/kimmh/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,2020,4,A,골목상권,1000022,창신2길,CS200003,예술학원,1,1,0,0,0,0,0
1,2020,4,A,골목상권,1000055,대사관로34길,CS100005,제과점,0,0,0,0,0,0,0
2,2020,4,A,골목상권,1000056,두텁바위로1길,CS100001,한식음식점,7,9,0,0,11,1,2
3,2020,4,A,골목상권,1000064,우사단로4길,CS200034,여관,2,2,0,0,0,0,0
4,2020,4,A,골목상권,1000087,후암로28길,CS100005,제과점,0,0,0,0,0,0,0
5,2020,4,A,골목상권,1000100,무학봉28길,CS300036,조명용품,0,0,0,0,0,0,0
6,2020,4,A,골목상권,1000109,성수이로7길,CS200001,일반교습학원,0,0,0,0,0,0,0
7,2020,4,A,골목상권,1000113,아차산로11길,CS300021,문구,7,7,0,0,0,0,0
8,2020,4,A,골목상권,1000120,왕십리로6길,CS200028,미용실,9,11,0,0,9,1,2
9,2020,4,A,골목상권,1000123,장터길,CS200025,자동차수리,0,0,0,0,0,0,0

In [7]:
market = market[market['상권_구분_코드']!='K']
market['상권_구분_코드'].unique()

array(['A', 'D', 'R', 'U'], dtype=object)

In [8]:
market = market.drop(list(market.columns)[10:], axis=1)
market = market.drop(['상권_구분_코드', '상권_구분_코드_명', '상권_코드_명', '서비스_업종_코드', '서비스_업종_코드_명'], axis=1)
market['기준_년_코드'] = 2020
market['기준_분기_코드'] = 4
print(market.shape)
market.head()

(92585, 5)

   기준_년_코드  기준_분기_코드    상권_코드  점포_수  유사_업종_점포_수
0     2020         4  1000022     1           1
1     2020         4  1000055     0           0
2     2020         4  1000056     7           9
3     2020         4  1000064     2           2
4     2020         4  1000087     0           0

In [9]:
market['상권_코드'] = market['상권_코드'].astype(int)
len(market['상권_코드'].unique())

1496

In [10]:
# market = market.apply(lambda x: x.str.strip(), axis = 1) ### 공백 제거

#### 상권코드 별 점포 수 집계

In [11]:
market_gr = market.groupby('상권_코드').sum()

market_gr['기준_년_코드'] = 2020
market_gr['기준_분기_코드'] = 4
market_gr = market_gr.reset_index()

print(market_gr.shape)
market_gr.head()

(1496, 5)

     상권_코드  기준_년_코드  기준_분기_코드  점포_수  유사_업종_점포_수
0  1000001     2020         4   201         212
1  1000002     2020         4   115         122
2  1000003     2020         4   284         299
3  1000004     2020         4    73          84
4  1000005     2020         4    76          80

In [12]:
data = market_gr.drop(['기준_년_코드', '기준_분기_코드'], axis=1)

print(data.shape)
data.head()

(1496, 3)

     상권_코드  점포_수  유사_업종_점포_수
0  1000001   201         212
1  1000002   115         122
2  1000003   284         299
3  1000004    73          84
4  1000005    76          80

In [13]:
data['상권_코드'].unique()

array([1000001, 1000002, 1000003, ..., 1001494, 1001495, 1001496])

In [14]:
# data.to_csv('상권_점포수_processed.txt', sep=',', index=False)

---

## 동별 자동차 등록 현황

In [31]:
dt = pd.read_csv('./data/21년 8월 기준 서울시 자동차 등록현황(동별. 연료별).csv', thousands = ',')

print(dt.shape)
dt.head()

(471, 15)

,사용본거지법정동명,동별 총 대수,휘발유,경유,엘피지,전기,휘발유(유연),휘발유(무연),CNG,하이브리드\n(휘발유+전기),하이브리드\n(경유+전기),하이브리드\n(LPG+전기),하이브리드\n(CNG+전기),수소,기타연료
0,서울특별시 종로구 청운동,768,212.0,241.0,22.0,9.0,1.0,238.0,NaN,42.0,NaN,1.0,NaN,NaN,2.0
1,서울특별시 종로구 신교동,362,92.0,116.0,25.0,3.0,NaN,108.0,NaN,17.0,NaN,NaN,NaN,1.0,NaN
2,서울특별시 종로구 궁정동,40,6.0,12.0,2.0,NaN,NaN,15.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN
3,서울특별시 종로구 효자동,185,60.0,63.0,4.0,1.0,NaN,47.0,NaN,10.0,NaN,NaN,NaN,NaN,NaN
4,서울특별시 종로구 창성동,162,39.0,62.0,2.0,1.0,NaN,51.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN

In [32]:
len(dt['사용본거지법정동명'].unique())  # 겹치는 동 없음

471

#### 결측치 다 0으로 채우기

In [33]:
dt.isna().sum()

사용본거지법정동명            0
동별 총 대수              0
휘발유                  4
경유                   3
엘피지                 23
전기                  69
휘발유(유연)            251
휘발유(무연)              5
CNG                266
하이브리드\n(휘발유+전기)     20
하이브리드\n(경유+전기)     220
하이브리드\n(LPG+전기)    226
하이브리드\n(CNG+전기)    464
수소                 189
기타연료               128
dtype: int64

In [34]:
dt.fillna(0, inplace=True)

In [35]:
dt.isna().sum()

사용본거지법정동명          0
동별 총 대수            0
휘발유                0
경유                 0
엘피지                0
전기                 0
휘발유(유연)            0
휘발유(무연)            0
CNG                0
하이브리드\n(휘발유+전기)    0
하이브리드\n(경유+전기)     0
하이브리드\n(LPG+전기)    0
하이브리드\n(CNG+전기)    0
수소                 0
기타연료               0
dtype: int64

#### 다 정수형으로 만들기

In [36]:
list(dt.columns)[1:]

['동별 총 대수',
 '휘발유',
 '경유',
 '엘피지',
 '전기',
 '휘발유(유연)',
 '휘발유(무연)',
 'CNG',
 '하이브리드\n(휘발유+전기)',
 '하이브리드\n(경유+전기)',
 '하이브리드\n(LPG+전기)',
 '하이브리드\n(CNG+전기)',
 '수소',
 '기타연료']

In [37]:
dt = pd.concat([dt[list(dt.columns)[0]], dt[list(dt.columns)[1:]].astype(int)], axis=1)
print(dt.shape)
dt.head()

(471, 15)

,사용본거지법정동명,동별 총 대수,휘발유,경유,엘피지,전기,휘발유(유연),휘발유(무연),CNG,하이브리드\n(휘발유+전기),하이브리드\n(경유+전기),하이브리드\n(LPG+전기),하이브리드\n(CNG+전기),수소,기타연료
0,서울특별시 종로구 청운동,768,212,241,22,9,1,238,0,42,0,1,0,0,2
1,서울특별시 종로구 신교동,362,92,116,25,3,0,108,0,17,0,0,0,1,0
2,서울특별시 종로구 궁정동,40,6,12,2,0,0,15,0,5,0,0,0,0,0
3,서울특별시 종로구 효자동,185,60,63,4,1,0,47,0,10,0,0,0,0,0
4,서울특별시 종로구 창성동,162,39,62,2,1,0,51,0,7,0,0,0,0,0

#### 하이브리드 하나의 열로 합치기

In [38]:
dt2 = dt[['하이브리드\n(휘발유+전기)', '하이브리드\n(경유+전기)', '하이브리드\n(LPG+전기)', '하이브리드\n(CNG+전기)']]
dt2.head()

   하이브리드\n(휘발유+전기)  하이브리드\n(경유+전기)  하이브리드\n(LPG+전기)  하이브리드\n(CNG+전기)
0               42               0                1                0
1               17               0                0                0
2                5               0                0                0
3               10               0                0                0
4                7               0                0                0

In [39]:
dt['하이브리드'] = dt2.sum(axis=1)

print(dt.shape)
dt.head()

(471, 16)

,사용본거지법정동명,동별 총 대수,휘발유,경유,엘피지,전기,휘발유(유연),휘발유(무연),CNG,하이브리드\n(휘발유+전기),하이브리드\n(경유+전기),하이브리드\n(LPG+전기),하이브리드\n(CNG+전기),수소,기타연료,하이브리드
0,서울특별시 종로구 청운동,768,212,241,22,9,1,238,0,42,0,1,0,0,2,43
1,서울특별시 종로구 신교동,362,92,116,25,3,0,108,0,17,0,0,0,1,0,17
2,서울특별시 종로구 궁정동,40,6,12,2,0,0,15,0,5,0,0,0,0,0,5
3,서울특별시 종로구 효자동,185,60,63,4,1,0,47,0,10,0,0,0,0,0,10
4,서울특별시 종로구 창성동,162,39,62,2,1,0,51,0,7,0,0,0,0,0,7

In [40]:
data = dt.drop(list(dt.columns)[9:13], axis=1)
print(data.shape)
data.head()

(471, 12)

,사용본거지법정동명,동별 총 대수,휘발유,경유,엘피지,전기,휘발유(유연),휘발유(무연),CNG,수소,기타연료,하이브리드
0,서울특별시 종로구 청운동,768,212,241,22,9,1,238,0,0,2,43
1,서울특별시 종로구 신교동,362,92,116,25,3,0,108,0,1,0,17
2,서울특별시 종로구 궁정동,40,6,12,2,0,0,15,0,0,0,5
3,서울특별시 종로구 효자동,185,60,63,4,1,0,47,0,0,0,10
4,서울특별시 종로구 창성동,162,39,62,2,1,0,51,0,0,0,7

In [41]:
# data.to_csv('법정동별_차량등록현황_processed.txt', sep=',', index=False)

---

#### 휘발유도 하나로 합치기

In [43]:
'''
dt = pd.read_csv('./data/법정동별_차량등록현황_processed.txt') 
print(dt.shape)
dt.head()
'''

"\ndt = pd.read_csv('./data/법정동별_차량등록현황_processed.txt') \nprint(dt.shape)\ndt.head()\n"

In [44]:
#dt2 = dt[['휘발유', '휘발유(유연)', '휘발유(무연)']]
#dt2.head()

In [45]:
#dt['휘발유'] = dt2.sum(axis=1)

#print(dt.shape)
#dt.head()

In [46]:
'''
data = dt.drop(['휘발유(유연)', '휘발유(무연)'], axis=1)
print(data.shape)
data.head()
'''

"\ndata = dt.drop(['휘발유(유연)', '휘발유(무연)'], axis=1)\nprint(data.shape)\ndata.head()\n"

In [47]:
#data = data.rename(columns={'엘피지':'LPG'})
#data.head()

#### 전처리한 데이터 저장

In [48]:
# data.to_csv('법정동별_차량등록현황_processed.txt', sep=',', index=False)

In [102]:
dt = pd.read_csv('./data/법정동별_차량등록현황_processed.txt')
print(dt.shape)
dt.head()

(471, 10)

       사용본거지법정동명  동별 총 대수  휘발유   경유  LPG  전기  CNG  수소  기타연료  하이브리드
0  서울특별시 종로구 청운동      768  451  241   22   9    0   0     2     43
1  서울특별시 종로구 신교동      362  200  116   25   3    0   1     0     17
2  서울특별시 종로구 궁정동       40   21   12    2   0    0   0     0      5
3  서울특별시 종로구 효자동      185  107   63    4   1    0   0     0     10
4  서울특별시 종로구 창성동      162   90   62    2   1    0   0     0      7

## 서울시 행정동-법정동 코드

In [88]:
dong = pd.read_excel('./data/행정동 법정동 코드.xlsx')
dong = dong[dong['시도명']=='서울특별시']
print(dong.shape)
dong.head()

(768, 8)

        행정동코드    시도명 시군구명   읍면동명       법정동코드    동리명      생성일자  말소일자
0  1100000000  서울특별시  NaN    NaN  1100000000  서울특별시  19880423   NaN
1  1111000000  서울특별시  종로구    NaN  1111000000    종로구  19880423   NaN
2  1111051500  서울특별시  종로구  청운효자동  1111010100    청운동  20081101   NaN
3  1111051500  서울특별시  종로구  청운효자동  1111010200    신교동  20081101   NaN
4  1111051500  서울특별시  종로구  청운효자동  1111010300    궁정동  20081101   NaN

### 행정동-법정동 코드 매칭 데이터 따로 저장

#### 25개 구 제외

In [130]:
pair = dong[['행정동코드', '시도명', '시군구명', '읍면동명', '법정동코드', '동리명']]

pair = pair[pair['동리명'] != '서울특별시']
pair = pair[-pair['동리명'].str.endswith('구')]
print(pair.shape)
pair.head()

(742, 6)

        행정동코드    시도명 시군구명   읍면동명       법정동코드  동리명
2  1111051500  서울특별시  종로구  청운효자동  1111010100  청운동
3  1111051500  서울특별시  종로구  청운효자동  1111010200  신교동
4  1111051500  서울특별시  종로구  청운효자동  1111010300  궁정동
5  1111051500  서울특별시  종로구  청운효자동  1111010400  효자동
6  1111051500  서울특별시  종로구  청운효자동  1111010500  창성동

#### match : 법정동 주소

In [131]:
pair['match'] = pair['시도명'] + ' ' + pair['시군구명'] + ' ' + pair['동리명']
pair = pair.drop(['시도명', '시군구명'], axis=1)
pair.head()

        행정동코드   읍면동명       법정동코드  동리명          match
2  1111051500  청운효자동  1111010100  청운동  서울특별시 종로구 청운동
3  1111051500  청운효자동  1111010200  신교동  서울특별시 종로구 신교동
4  1111051500  청운효자동  1111010300  궁정동  서울특별시 종로구 궁정동
5  1111051500  청운효자동  1111010400  효자동  서울특별시 종로구 효자동
6  1111051500  청운효자동  1111010500  창성동  서울특별시 종로구 창성동

In [132]:
# pair.to_csv('./data/행정_법정동코드_매칭.txt', sep=',', index=False)

---

## 동별차량등록 데이터에 법정동코드 추가

In [134]:
dt = pd.read_csv('./data/법정동별_차량등록현황_processed.txt')
print(dt.shape)
dt.head()

(471, 10)

       사용본거지법정동명  동별 총 대수  휘발유   경유  LPG  전기  CNG  수소  기타연료  하이브리드
0  서울특별시 종로구 청운동      768  451  241   22   9    0   0     2     43
1  서울특별시 종로구 신교동      362  200  116   25   3    0   1     0     17
2  서울특별시 종로구 궁정동       40   21   12    2   0    0   0     0      5
3  서울특별시 종로구 효자동      185  107   63    4   1    0   0     0     10
4  서울특별시 종로구 창성동      162   90   62    2   1    0   0     0      7

In [165]:
match = pd.read_csv('./data/행정_법정동코드_매칭.txt')
print(match.shape)
match.head()

(742, 5)

        행정동코드   읍면동명       법정동코드  동리명          match
0  1111051500  청운효자동  1111010100  청운동  서울특별시 종로구 청운동
1  1111051500  청운효자동  1111010200  신교동  서울특별시 종로구 신교동
2  1111051500  청운효자동  1111010300  궁정동  서울특별시 종로구 궁정동
3  1111051500  청운효자동  1111010400  효자동  서울특별시 종로구 효자동
4  1111051500  청운효자동  1111010500  창성동  서울특별시 종로구 창성동

In [166]:
match['행정동코드'].nunique()

425

In [167]:
match['법정동코드'].nunique()

467

### 시도명 시군구명 읍면동명 합쳐서 법정동 차량등록 데이터에 매칭!!

In [168]:
code = match[['match', '법정동코드', '동리명']]
code.columns = ['사용본거지법정동명','법정동코드', '동리명']
print(code.shape)
code.head()

(742, 3)

       사용본거지법정동명       법정동코드  동리명
0  서울특별시 종로구 청운동  1111010100  청운동
1  서울특별시 종로구 신교동  1111010200  신교동
2  서울특별시 종로구 궁정동  1111010300  궁정동
3  서울특별시 종로구 효자동  1111010400  효자동
4  서울특별시 종로구 창성동  1111010500  창성동

In [169]:
merged = pd.merge(dt, code, how='outer', on='사용본거지법정동명')
print(merged.shape)
merged.head()

(746, 12)

,사용본거지법정동명,동별 총 대수,휘발유,경유,LPG,전기,CNG,수소,기타연료,하이브리드,법정동코드,동리명
0,서울특별시 종로구 청운동,768,451,241,22,9,0,0,2,43,1.111010e+09,청운동
1,서울특별시 종로구 신교동,362,200,116,25,3,0,1,0,17,1.111010e+09,신교동
2,서울특별시 종로구 궁정동,40,21,12,2,0,0,0,0,5,1.111010e+09,궁정동
3,서울특별시 종로구 효자동,185,107,63,4,1,0,0,0,10,1.111010e+09,효자동
4,서울특별시 종로구 창성동,162,90,62,2,1,0,0,0,7,1.111010e+09,창성동

In [170]:
na = merged[merged['법정동코드'].isna()]
na

,사용본거지법정동명,동별 총 대수,휘발유,경유,LPG,전기,CNG,수소,기타연료,하이브리드,법정동코드,동리명
185,서울특별시 용산구 도동1가,2,2,0,0,0,0,0,0,0,NaN,NaN
260,서울특별시 광진구 노유동,1,1,0,0,0,0,0,0,0,NaN,NaN
664,서울특별시 강남구 학동,8,3,5,0,0,0,0,0,0,NaN,NaN
667,서울특별시 강남구 포이동,4,3,1,0,0,0,0,0,0,NaN,NaN

#### 결측치 : 동별 대수도 미미하고 찾아보니 다 편입/폐기된 동 이름 >>> 제거

In [171]:
merged = merged[merged['법정동코드'].notna()]
merged['법정동코드'] = merged['법정동코드'].astype(int)
print(merged.shape) 
merged.head()

(742, 12)

,사용본거지법정동명,동별 총 대수,휘발유,경유,LPG,전기,CNG,수소,기타연료,하이브리드,법정동코드,동리명
0,서울특별시 종로구 청운동,768,451,241,22,9,0,0,2,43,1111010100,청운동
1,서울특별시 종로구 신교동,362,200,116,25,3,0,1,0,17,1111010200,신교동
2,서울특별시 종로구 궁정동,40,21,12,2,0,0,0,0,5,1111010300,궁정동
3,서울특별시 종로구 효자동,185,107,63,4,1,0,0,0,10,1111010400,효자동
4,서울특별시 종로구 창성동,162,90,62,2,1,0,0,0,7,1111010500,창성동

In [172]:
merged.to_csv('./data/법정동별_차량등록현황_processed.txt', sep=',', index=False)